<!DOCTYPE html>
<html>
  <head>
    <title>KatChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('icons8-pacman-50.png'), :rel => 'icon', :type =>  'image/png' %>
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <%= action_cable_meta_tag %>
    
    <script type="text/javascript"> 
      window.android = "<=% image_url('app/assets/images/katchat-desktop.svg') %>";
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133159702-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133159702-3');
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
