<!DOCTYPE html>
<html>
  <head>
    <title>KatChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" href="/Users/kat/Desktop/discord_project/app/assets/images/icons8-pacman-50.png" />
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
